/* ============== Start main ================== */
main {
    text-align: center;
    background-color: #eee;
}

main h2 {
    padding: 20px 0;
    color: #347486
}

main .contianer {
}

main .contianer article{
    width: 50%;
}

main .contianer article img{
    width: 90%;
    padding: 10px
}

/* ============== Start conatct ================== */
.col-50 {
    width:  50%;
    float: left;
}

#map {
    height: 100vh;
    width: 100%;
}
